{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    
    <title>Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="{% static 'hospital/img/favicon.png' %}" rel="icon">
    <link href="{% static 'hospital/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Vendor CSS Files -->
    <link href="{% static 'hospital/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    
    
    <link href="{% static 'hospital/css/style.css' %}" rel="stylesheet">
    
    <style>
        /* Tabs */
        .hospital-services .nav-tabs {
            border-bottom: 2px solid #007bff;
        }
        .hospital-services .nav-tabs .nav-link {
            border: none;
            border-radius: 0;
            color: #555;
            font-weight: bold;
            padding: 10px 20px;
            background-color: #f8f9fa; 
            transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
            font-size: 16px; 
        }
        .hospital-services .nav-tabs .nav-link.active {
            color: #fff; 
            font-size: 18px; 
        }
        /* Different colors for each tab */
        #medical-tab.active {
            background-color: #007bff; 
        }
        #surgical-tab.active {
            background-color: #dc3545;
        }
        #emergency-tab.active {
            background-color: #ffc107;
        }
        #diagnostic-tab.active {
            background-color: #17a2b8; 
        }
        
        /* Tab Content */
        .hospital-services .tab-content {
            border: 2px solid #007bff;
            border-top: none;
            padding: 20px;
        }
        .hospital-services .tab-pane {
            display: none;
        }
        .hospital-services .tab-pane.active {
            display: block;
        }
        /* Form */
        .hospital-services form {
            margin-top: 20px;
        }
        .hospital-services form label {
            font-weight: bold;
            color: #333;
        }
        
        .hospital-services form button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .hospital-services form button[type="submit"]:hover {
            background-color: #0056b3;
        }
        
    </style>
</head>

<body>
    
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        
        <div class="d-flex align-items-center justify-content-between">
            <a href="admin-index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">MediEthiCare</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'hospital/img/logo.png' %}" alt="">
                        
                        <span class="d-none d-md-block dropdown-toggle ps-2">MediEthiCare</span>
                    </a><!-- End Profile Iamge Icon -->
                    
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user_logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                        
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
                
            </ul>
        </nav><!-- End Icons Navigation -->
        
    </header><!-- End Header -->
    
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'hospital_dashboard' %}">
                    <img src="{% static 'hospital/img/m3.png' %}" class="mx-1" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <img src="{% static 'hospital/img/m2.png' %}" class="mx-1" alt=""><span>Medicine Management</span></i></i>
                </a>
                <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'medicines' %}">
                            <img src="{% static 'hospital/img/m1.png' %}" class="mx-1" alt="">
                            <span>Add Medicines</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_medicines' %}">
                            <img src="{% static 'hospital/img/m8.png' %}" class="mx-1" alt="">
                            <span>View Medicines</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End parking Management Nav -->
            
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <img src="{% static 'hospital/img/m4.png' %}" class="mx-1" alt=""><span>Hospital Servicies</span></i></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse show " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'services' %}"  class="active">
                            <img src="{% static 'hospital/img/m5.png' %}" class="mx-1" alt=""><span>Add Servicies</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'viewservices' %}">
                            <img src="{% static 'hospital/img/m16.png' %}" class="mx-1" alt=""><span>View Servicies</span>
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-navbed2" data-bs-toggle="collapse" href="#">
                    <img src="{% static 'hospital/img/m9.png' %}" class="mx-1" alt=""><span>Bed Management</span></i></i>
                </a>
                <ul id="forms-navbed2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'bed' %}">
                            <img src="{% static 'hospital/img/m10.png' %}" class="mx-1" alt=""><span>Update Beds Availability</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_bed' %}">
                            <img src="{% static 'hospital/img/m15.png' %}" class="mx-1" alt=""><span>View Beds</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
                    <img src="{% static 'hospital/img/m11.png' %}" class="mx-1" alt=""><span>Appointments Management</span></i></i>
                </a>
                <ul id="forms-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'list_doct' %}">
                            <img src="{% static 'hospital/img/m12.png' %}" class="mx-1" alt=""><span>Schedule Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'pendingAppointments' %}">
                            <img src="{% static 'hospital/img/m13.png' %}" class="mx-1" alt=""><span>Pending Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'viewAppointments' %}">
                            <img src="{% static 'hospital/img/m14.png' %}" class="mx-1" alt=""><span>View Appointments</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav4" data-bs-toggle="collapse" href="#">
                    <img src="{% static 'hospital/img/o1.png' %}" class="mx-1" alt=""><span>Orders Management</span></i></i>
                </a>
                <ul id="forms-nav4" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'view_orders' %}">
                            <img src="{% static 'hospital/img/o2.png' %}" class="mx-1" alt=""><span>View Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'all_orders' %}">
                            <img src="{% static 'hospital/img/o3.png' %}" class="mx-1" alt=""><span>All Orders</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside><!-- End Sidebar-->
    
    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>Add Services</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Add Services</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        
        <section class="section mt-3">
            
            <div class="container">
                <div class="hospital-services">
                    <ul class="nav nav-tabs" id="servicesTab" role="tablist">
                        
                        <li class="nav-item">
                            <a class="nav-link active" id="surgical-tab" data-toggle="tab" href="#surgical" role="tab" aria-controls="surgical" aria-selected="false">Surgical Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="emergency-tab" data-toggle="tab" href="#emergency" role="tab" aria-controls="emergency" aria-selected="false">Emergency Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">Diagnostic Services</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="servicesTabContent">
                        <div class="tab-pane fade show active" id="surgical" role="tabpanel" aria-labelledby="surgical-tab">
                            <h3>Surgical Services Form</h3>
                            <form id="surgicalServicesForm" method="POST" action="{% url 'services' %}">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="surgical">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="surgicalService">Select Surgical Service</label>
                                            <select class="form-control" id="surgicalService" name="surgicalService">
                                                <option value="Neurosurgery">Neurosurgery</option>
                                                <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
                                                <option value="Plastic Surgery">Plastic Surgery</option>
                                                <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                                                <option value="General Surgery">General Surgery</option>
                                                <option value="Ophthalmic Surgery">Ophthalmic Surgery</option>
                                                <option value="Urological Surgery">Urological Surgery</option>
                                                <option value="Gynecological Surgery">Gynecological Surgery</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input type="text" class="form-control" id="price" name="price" required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row mb-4">
                                    <div class="col-8 mx-auto">
                                        <div class="form-group">
                                            <label for="surgicalServiceDetails">Enter Service Details</label>
                                            <input type="text" class="form-control" id="surgicalServiceDetails" name="surgicalServiceDetails">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="">
                                        <button type="submit" class="btn btn-danger btn-block mt-4 mx-auto d-block" style="background-color: #DC3545;">Submit</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Emergency Services Form -->
                        <div class="tab-pane fade" id="emergency" role="tabpanel" aria-labelledby="emergency-tab">
                            <h3>Emergency Services Form</h3>
                            <form id="emergencyServicesForm" method="POST" action="{% url 'services' %}">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="emergency"> 
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emergencyService">Select Emergency Service</label>
                                            <select class="form-control" id="emergencyService" name="emergencyService">
                                                <option value="Emergency Medicine">Emergency Medicine</option>
                                                <option value="Trauma Surgery">Trauma Surgery</option>
                                                <option value="Emergency Radiology">Emergency Radiology</option>
                                                <option value="Cardiac Care">Cardiac Care</option>
                                                <option value="Stroke Care">Stroke Care</option>
                                                <option value="Respiratory Care">Respiratory Care</option>
                                                <option value="Poisoning Management">Poisoning Management</option>
                                                <option value="Obstetric Emergencies">Obstetric Emergencies</option>
                                                <option value="Pediatric Emergencies">Pediatric Emergencies</option>
                                                <option value="Neurological Emergencies">Neurological Emergencies</option>
                                                <option value="Infectious Disease Emergencies">Infectious Disease Emergencies</option>
                                                <option value="Psychiatric Emergencies">Psychiatric Emergencies</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input type="text" class="form-control" id="price" name="price" required> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row mb-4">
                                    <div class="col-8 mx-auto">
                                        <div class="form-group">
                                            <label for="surgicalServiceDetails">Enter Service Details</label>
                                            <input type="text" class="form-control" id="surgicalServiceDetails" name="surgicalServiceDetails">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="">
                                        <button type="submit" class="btn btn-danger btn-block mt-4 mx-auto d-block" style="background-color: #DC3545;">Submit</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        
                        <!-- Diagnostic Services Form -->
                        <div class="tab-pane fade" id="diagnostic" role="tabpanel" aria-labelledby="diagnostic-tab">
                            <h3>Diagnostic Services Form</h3>
                            <form id="diagnosticServicesForm" method="POST" action="{% url 'services' %}">
                                {% csrf_token %}
                                <input type="hidden" name="tab" value="diagnostic"> 
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="diagnosticService">Select Diagnostic Service</label>
                                            <select class="form-control" id="diagnosticService" name="diagnosticService">
                                                <option value="Radiology">Radiology</option>
                                                <option value="Pathology">Pathology</option>
                                                <option value="Cardiac Imaging">Cardiac Imaging</option>
                                                <option value="Endoscopy">Endoscopy</option>
                                                <option value="Colonoscopy">Colonoscopy</option>
                                                <option value="Mammography">Mammography</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input type="text" class="form-control" id="price" name="price" required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row mb-4">
                                    <div class="col-8 mx-auto">
                                        <div class="form-group">
                                            <label for="surgicalServiceDetails">Enter Service Details</label>
                                            <input type="text" class="form-control" id="surgicalServiceDetails" name="surgicalServiceDetails">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="">
                                        <button type="submit" class="btn btn-danger btn-block mt-4 mx-auto d-block" style="background-color: #DC3545;">Submit</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
        
    </main><!-- End #main -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    <script>
        
        $('#servicesTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}              
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
        title: "Warning!",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
    });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
    title: "Info :)",
    text: "{{message}}",
    icon: "info",
    button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
    title: "Error :)",
    text: "{{message}}",
    icon: "error",
    button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
    title: "Success :)",
    text: "{{message}}",
    icon: "success",
    button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Codebook</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://codebook.in" target="_blank">Codebook</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'hospital/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'hospital/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'hospital/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'hospital/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'hospital/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'hospital/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'hospital/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'hospital/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'hospital/js/main.js' %}"></script>


</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>
    swal({
        title: "Warning!",
        text: "{{ message }}",
        icon: "warning",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>
    swal({
        title: "Info :)",
        text: "{{ message }}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>
    swal({
        title: "Error :)",
        text: "{{ message }}",
        icon: "error",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
    swal({
        title: "Success :)",
        text: "{{ message }}",
        icon: "success",
        button: "OK",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

</html>